<div fxLayout="row" fxLayoutAlign="center center" class="register-main">
  <mat-card>
    <mat-card-title>
      Cadastro
    </mat-card-title>
    <hr />

    <mat-card-content fxLayout="column">
      <form
        [formGroup]="registerForm"
        (ngSubmit)="registerForm.valid && onRegister(registerForm.value)"
        novalidate
      >
        <mat-form-field>
          <input
            id="email"
            matInput
            formControlName="email"
            [(ngModel)]="user.email"
            placeholder="Email"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            id="password"
            matInput
            formControlName="password"
            [(ngModel)]="user.password"
            placeholder="Senha"
            type="password"
            [type]="hide ? 'text' : 'password'"
          />
          <mat-icon matSuffix (click)="hide = !hide">
            {{ hide ? "visibility" : "visibility_off" }}
          </mat-icon>
        </mat-form-field>

        <div fxLayoutAlign="center start">
          <button
            mat-button
            class="mat-raised-button mat-primary ml-2"
            type="submit"
            [disabled]="!registerForm.valid"
          >
            <mat-icon>done</mat-icon>
            <span class="mat-button-wrapper"> Confirmar</span>
          </button>

          <button
            mat-raised-button
            type="button"
            [routerLink]="['/login']"
            class="mat-button mat-secondary ml-2"
          >
            <mat-icon>block</mat-icon>
            <span class="mat-button-wrapper"> Cancelar</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
