<div class="maps-main">
  <div class="container-fluid">
    <h1 fxLayoutAlign="center center">Estações de Skate</h1>
    <div class="map-container">
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker
          *ngFor="let m of stations; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [iconUrl]="{
            url: './assets/images/icons8-cor-96.png',
            scaledSize: {
              width: 40,
              height: 60
            }
          }"
        >
        </agm-marker>
      </agm-map>
    </div>

    <div fxLayoutAlign="center center" class="actions">
      <button
        *ngIf="isAdmin"
        type="button"
        id="btnNewPoint"
        (click)="newPoint()"
        class="btn btn-success btn-lg"
      >
        Adionar novo ponto
      </button>
    </div>
  </div>
</div>
