.maps-main {
  margin-top: 1%;
  margin-bottom: 1%;
}

mat-card {
  background: rgba(230, 230, 230, 0.95);
  min-width: 40%;
}

.map-container {
  min-width: 40%;
  margin: auto;
}

#btnNewPoint {
  margin-top: 1em;
  margin-bottom: 1em;
}

agm-map {
  height: 480px;
  min-width: 40%;
  min-height: 40%;
}
