<div class="maps-main">
  <mat-card>
    <mat-card-title>
      Estações de Skate
    </mat-card-title>
    <hr />

    <div class="map-container">
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng">
        <agm-marker
          *ngFor="let m of stations; let i = index"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [iconUrl]="{
            url: './assets/images/icons8-cor-96.png',
            scaledSize: {
              width: 40,
              height: 60
            }
          }"
        >
        </agm-marker>
      </agm-map>
      <div fxLayoutAlign="center" class="actions">
        <button
          *ngIf="isAdmin"
          type="button"
          id="btnNewPoint"
          (click)="newPoint()"
          mat-raised-button
          class="mat-raised-button mat-primary ml-2"
        >
          <mat-icon>add_circle_outline</mat-icon>
          <span class="mat-button-wrapper"> Adicionar ponto</span>
        </button>
      </div>
    </div>
  </mat-card>
</div>
