body {
    margin: 0;
    padding: 0;
    background-position: center;
    background-size: cover;
    /* background: url("URL DO BACKGROUND"); */
    font-family: sans-serif;
}

.login-box {
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    background: rgba(0.0, 0.0, 0.0, 0.5)
}