.insert-point-holder {
    /* height: 60px;
    background: linear-gradient(to right, #80bfff, #e6f7ff); */
    padding: 50px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 5px;
    border-bottom: 7px solid #33a4c9;
    background: white;
}
