<div fxLayout="row" fxLayoutAlign="center center" class="insert-point-main">
  <mat-card>
    <mat-card-title>
      Novo Ponto
    </mat-card-title>
    <hr />

    <mat-card-content fxLayout="column">
      <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="loginFullWidth">
          <input
            matInput
            type="local"
            formControlName="local"
            placeholder="Local"
            name="local"
            id="local"
            [ngClass]="{ 'is-invalid': submitted && f.local.errors }"
            required
          />
        </mat-form-field>

        <mat-form-field class="loginFullWidth">
          <input
            matInput
            formControlName="latitude"
            placeholder="Latitude"
            name="latitude"
            type="number"
            id="latitude"
            [ngClass]="{ 'is-invalid': submitted && f.latitude.errors }"
          />
        </mat-form-field>

        <mat-form-field class="loginFullWidth">
          <input
            matInput
            formControlName="longitude"
            placeholder="Longitude"
            name="longitude"
            type="number"
            id="longitude"
            [ngClass]="{ 'is-invalid': submitted && f.longitude.errors }"
          />
        </mat-form-field>

        <mat-form-field class="loginFullWidth">
          <input
            matInput
            formControlName="capacidade"
            placeholder="Capacidade"
            name="capacidade"
            id="capacidade"
            [ngClass]="{ 'is-invalid': submitted && f.capacidade.errors }"
          />
        </mat-form-field>

        <div fxLayoutAlign="center start">
          <button
            mat-raised-button
            class="mat-raised-button mat-primary"
          >
            <mat-icon>done</mat-icon>
            <span class="mat-button-wrapper"> Confirmar</span>
          </button>

          <button
            mat-raised-button
            type="button"
            (click)="return()"
            class="mat-button mat-secondary ml-2"
          >
            <mat-icon>block</mat-icon>
            <span class="mat-button-wrapper"> Cancelar</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
